.Page{
    width: 100%;
    min-height: 100%;
    height: fit-content;
    display: flex
;
    flex-direction: column;
    gap: clamp(12px, 3.3vw, 64px);
    background-color: #F6F5F1;
    background-color: var(--background-color);
    align-items: center;
    overflow-y: visible;
    overflow-x: clip;
    box-sizing: border-box;
    min-height: 100%;
        height: 100dvh;
    min-height: fit-content;
    padding-bottom: 100px;
}

.Content{
    height: fit-content;
    min-height: 200px;
    box-sizing: border-box;
    width: 84%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
    position: relative;
        height: fit-content;
    min-height: fit-content;
}
.Table{
    width: min(100%, 1200px);   /* cap max size but stay responsive */
    aspect-ratio: 103 / 59;    /* outer table ratio (with borders) */
    position: relative;
    background: #0b5;          /* demo: felt color */
    border: 10px solid #2b2b2b;/* demo: rails/border thickness */
    border-radius: 12px;
    overflow: hidden;
}
.Table canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}




/* Hud.module.css */



.Hud{
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    align-items: center;
    gap: 20px;
    justify-content: space-between;
    padding-top: 15px;
    
}
.powerWrap {
    width: 12px;
    height: 100%;
    background: rgba(255, 255, 255, .12);
    border-radius: 999px;
    overflow: hidden;
    /*
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    */
}

.powerBar {
    height: 0%;
    width: 100%;
    background: linear-gradient(90deg, #85ffbd, #fffb7d, #ff9f7d);
    
    background: var(--accent-color) !important;
    transition: width .06s linear;
}

.powerWrap {
    width: 20px;
    height: 100%;
    background: rgba(255, 255, 255, .12);
    border-radius: 999px;
    overflow: hidden;
    min-height: 100px;

    /*
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    */
    position: relative;
    border: 3px solid var(--background-secondary-color);
}
.powerBar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(0deg, #85ffbd, #fffb7d, #ff9f7d);
    background: var(--accent-color) !important;
    transition: height .06s linear;
}
.resetBtn {
    background: var(--accent-color);
    color: var(--contrast-color);
    border: 0;
    border-radius: 10px;
    padding: 10px 14px;
    font-weight: 700;
    cursor: pointer;
    
    transition: 0.2s ease-out;
}
.resetBtn svg{
    transition: 0.2s ease-out;
    color: var(--background-secondary-color);
}
.resetBtn:not(:disabled):hover svg{
    color: var(--background-dark-color);
    
}
.resetBtn:not(:disabled):hover{
    background-color: var(--accent-dark-color);
}
.resetBtn:not(:disabled):active {
    transform: translateY(1px);
}

.CounterWrap{
    max-width: 1200px;
    min-height: 50px;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    border: 1px solid var(--background-secondary-color);
    /*
    position: absolute;
    right: 10px;
    */
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--background-tertiary-color);
    border-radius: 21px;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
    box-shadow: var(--shadow);
    min-height: fit-content;

}
.StrokeDataWrap{
    max-width: 1200px;
    min-height: 50px;
    min-height: fit-content;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    width: 100%;
    border-radius: 21px;
    flex-direction: column;
}
.StrokeData{
    max-width: 1200px;
    min-height: 50px;
    min-height: fit-content;
    /*
    height: 100%;
    */
    flex: 1;
    box-sizing: border-box;
    display: flex;
    gap: 20px;

    /*
    position: absolute;
    right: 10px;
    */
    width: 100%;
    padding: 10px;
    border-radius: 12px;
    background-color: var(--background-tertiary-color);
    border-radius: 21px;
    flex-direction: column;
}
.StrokeCount{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5px;
    padding-left: 10px;
}
.StrokeCount p{
    font-size: 20px;
    margin: 0;
    text-align: left;
    width: fit-content;
    white-space: nowrap;
    color: var(--contrast-color);
    font-weight: 600;
}
.StrokeCount span{
    font-weight: 700;
}
.BallCounter{
    min-height: fit-content;
    height: fit-content;
    min-height: 75px;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
    background-color: var(--background-color);
    border-radius: 15px;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 3px solid var(--background-secondary-color);
    background-color: var(--background-secondary-color);

}
.Ball{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: calc();
    border-radius: 50%;
}
@media(max-width: 1600px){
    .Content{
        flex-direction: column;
        align-items: center;
    }
}






/*Toggle*/
.toggleButton {
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
    transition: 0.3s ease-out;
}
/*
.toggleButton button {
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: none;
    background: transparent;
}
.toggleButton svg{
    color: var(--contrast-secondary-color);
    width: 20px;
    height: 20px; 
    transition: 0.3s ease-out;
}
.toggleButton:hover svg{
    color: var(--contrast-color);
}

*/





/* From Uiverse.io by Madflows */ 
.toggleSwitch {
  position: relative;
  width: 80px;
  height: 40px;
  --light: var(--background-color);
  --dark: var(--accent-color);
  --link: var(--background-color);
  --link-hover: rgb(24, 94, 82);
}

.switchLabel {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: var(--dark);
  border-radius: 28px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid var(--dark);
  left: 0;
  top: 0;
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  background-color: var(--light);
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(35px);
  -ms-transform: translateX(35px);
  transform: translateX(35px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}


.toggle {
  position: relative;
  width: 63px;
  min-width: 63px;
/* min-width: 75px; */
max-width: 63px;
height: 34px;
min-height: 34px;
max-height: 34px;
  border-radius: 36px;
  background: var(--background-tertiary-color);
  border: 1px solid var(--background-blur-color);
  cursor: pointer;
  background:  color-mix(in srgb, var(--accent-color) 15%, var(--background-tertiary-color));
    border: 1px solid color-mix(in srgb, var(--accent-color) 35%, transparent);
}
.toggle.active {
    border: 1px solid var(--background-blur-color);
    background-color: var(--accent-color);

}

.toggle::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background: var(--background-color);
    box-shadow: var(--shadow);

        box-shadow: 0 10px 30px rgba(12, 31, 66, .48);
    transition: transform .25s ease;
}
.toggle.active::after {
    transform: translateX(28px);
}










.Overlay{
    width: 100vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 80;
    left: 0;
    user-select: none;
}
.OverlayBlur{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #58585847;
    backdrop-filter: blur(20px);
}

.OverlayContent{
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 91;
    align-items: center;
    gap: 16px;
}
.OverlayText{
    font-size: 60px;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    color: var(--contrast-color);
    font-weight: 600;
    z-index: 90;
}
.OverlayButton {
    background: var(--accent-color);
    color: var(--contrast-color);
    border: 0;
    border-radius: 10px;
    padding: 10px 14px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s ease-out;
    width: fit-content;
    box-shadow: 0 10px 30px rgba(12,31,66,0.08);
}
.OverlayButton p{
    font-size: 30px;
    margin: 0;
    text-align: left;
    white-space: nowrap;
    font-weight: 600;
    transition: 0.2s ease-out;
    color: var(--background-secondary-color);
}
.OverlayButton:hover p{
    color: var(--background-dark-color);
    
}
.OverlayButton:hover{
    background-color: var(--accent-dark-color);
}
.OverlayButton:active {
    transform: translateY(1px);
}
.MultDisabled{
    cursor: no-drop;
}
.ActiveHud{
    color: var(--accent-color);
}