.Navbar{
    height: 100px;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    background-color: var(--background-secondary-color);
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    position: relative;
}
.Logo{
    width: fit-content;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

}
.Logo p{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    color: var(--contrast-color);
    font-family: var(--display-font);
}
.Toggles{
    height: fit-content;
    width: fit-content;
    box-sizing: border-box;
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}